.menu__list li, .menu__title--collapse>span {
    text-overflow: initial;
    overflow: initial;
    white-space: initial;
}

.menu .active {
    line-height: normal;
}

.menu__title {
    height: fit-content;
}

.menu__title--collapse,
.menu__title--collapse-text {
    font-weight: 700;
    color: #007d9c;
}

.menu__list {
    height: fit-content;
    list-style: decimal;
}

.menu > ul > li {
    margin-top: 1rem;
}

.menu__list li {
    margin: .25rem 0 .25rem 1.25rem;
}

.menu__title--collapse > span {
    max-width: none;
}

.menu__title--icon {
    margin-left: auto;
}

.menu__title {
    list-style: decimal;
}

.menu__list li {
    margin-left: 2rem;
}

.home__landing {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    height: auto!important;
}

.home__landing--img img {
    width: 60rem;
}

.home__landing--txt .title {
    font-size: 3.2rem;
}

.home__landing--txt .text {
    font-size: 1.2rem;
    text-align: justify;
}