.model-card-header {
    margin: 1rem;
    border: 2px solid cadetblue;
    padding: 1rem;
    border-radius: 0.5rem;

    .title {
        margin-bottom: 0.6rem;
    }

    li {
        margin-bottom: 0.2rem;
    }
}